body { background: #7496f8; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 10px; display: flex; }
.block-auth-0 { color: #cafca6; font-size: 16px; margin-bottom: 5px; }
.block-cache-1 { color: #edec93; font-size: 19px; margin-bottom: 5px; }
.block-sms-2 { color: #c42fd2; font-size: 19px; margin-bottom: 5px; }
.block-payment-3 { color: #898f56; font-size: 13px; margin-bottom: 5px; }
.block-payment-4 { color: #795b30; font-size: 18px; margin-bottom: 5px; }